@media (min-width: 1230px){

/*LOGO*/
	.logo{
		 text-align: center;
		 color: maroon;
	}

/*BARRA DE MENU PRINCIPAL*/
  .barraMenu{
    padding: 0;
    margin: auto;
  }
  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 15%; height:25px;
  }
  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:12px;

  }


/*BODY EN GENERAL*/
	.contenedorUno hr{
		width: 200px;
		margin-bottom: 40px;
		height: 2px;
		border-style: none;
		background-color: #b10000;
	}
	body{
	  text-align: center;
	  font-family: Quicksand , sans-serif;

	}
	h1{
	  font-size:1.5em;
	  color: black;
	}
	p{
		color: black;
	  text-align: left;
	}
	.contenedorUno{
		text-align: center;
	}
	
/*CONTENEDOR PREGUNTAS*/
	.contenedorPreg{
		text-align: center;
	}
	.contenedorPreg a{
	font-family: Quicksand , sans-serif;;
	font-size:20px;
	text-decoration: none;
	float:left;
	padding: 5px;
	background-color: #B40404;
	color: #fff;
	width: 95%; height:25px;
	text-align: left;
	}
	.contenedorPreg p{
	font-family: Quicksand , sans-serif;;
	font-size:15px;
	text-decoration: none;
	float:left;
	padding: 5px;
	background-color: #F5DEB3 ;
	color: black;
	width: 95%; height:40px;
	text-align: left;
	}

/*FOOTER*/
	/*FOOTER PARTE 1*/
	.pieUno{
		background-color: #383838;
		color: white;
		display: flex;

		text-align: center;
		font-family: Quicksand , sans-serif;
	} 
	.pieUno hr{
		width: 100px;
		margin-bottom: 40px;
		height: 2px;
		border-style: none;
		background-color: red;

	}

	.mapaYoutuber{
		flex: 1;
	}
	.mapaEmpresa{
		flex: 1;
	}
	.mapaSitio{
		flex: 1;
		text-align: center;
	}

	.listaSitio{
		list-style-type: none;

	}
	.listaSitio a{
		color: white;
	}

	/*FOOTER PARTE 2*/
	.pieDos{
		background-color: #383838;
		color: white;
		display: flex;
		text-align: right;
		font-family:  Quicksand,sans-serif;
	}

}

@media (min-width: 577px) and (max-width: 1230px){

/*LOGO*/
  .logo{
     text-align: center;
  }

/*BARRA DE MENU PRINCIPAL*/
  .barraMenu{
    padding: 0;
    margin: auto;
  }
  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:15px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 13%; height:25px;
  }
  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:12px;
  }

/*BODY EN GENERAL*/
	h1{
		font-size:1.5em;
		color:#525252;
	  }
	body{
		text-align: center;
		font-family: Quicksand , sans-serif;

	  }
	p{
		color: gray;
	  }
	.contenedorUno h1{
			color:black;
		}
	.contenedorUno hr{
    width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }




/*CONTENEDOR PREGUNTAS*/
	.contenedorPreg h1{
	color:black;
	}
	.contenedorPreg a{
	font-family: Quicksand , sans-serif;;
	font-size:20px;
	text-decoration: none;
	float:left;
	padding: 5px;
	background-color: #B40404;
	color: #fff;
	width: 95%; height:40px;
	text-align: left;
	}
	.contenedorPreg p{
	font-family: Quicksand , sans-serif;;
	font-size:15px;
	text-decoration: none;
	float:left;
	padding: 5px;
	background-color: #F5DEB3 ;
	color: black;
	width: 95%; height:48px;
	text-align: left;
	}


/*FOOTER*/
	/*FOOTER PARTE 1*/
    .pieUno{
    background-color: #383838;
    color: white;
    display: flex;
    width: 100%;
    text-align: center;
    font-family: Quicksand , sans-serif;
  } 
	.pieUno hr{
    width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

	.mapaYoutuber{
    flex: 1;
  }
	.mapaEmpresa{
    flex: 1;
  }
	.mapaSitio{
    flex: 1;
    text-align: center;
  }

	.listaSitio{
    list-style-type: none;

  }
	.listaSitio a{
    color: white;
  }

	/*FOOTER PARTE 2*/
	.pieDos{
    background-color: #383838;
    color: white;
    display: flex;
    text-align: center;
    font-family:  Quicksand,sans-serif;
  }
  

	
	
}

@media (min-width: 0px) and (max-width: 577px){

/*LOGO*/
  .logo{
     text-align: center;
  }

/*BARRA DE MENU PRINCIPAL*/
  .barraMenu{
    padding: 0;
    margin: auto;
  }
  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 100%; height:25px;
  }
  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:12px;
  }
/*//////////////////////////////////////*/


/*BODY EN GENERAL*/
  .contenedorUno hr{
	width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }
  .contenedorUno h1{
	  color: black;
  }
  body{
    text-align: center;
    font-family: Quicksand , sans-serif;

  }
  h1{
    font-size:1.5em;
    color:#525252;
  }
  p{
    color: gray;
  }

 
/*CONTENEDOR PREGUNTAS*/
	.contenedorPreg h1{
	  color: black;
	}
   	.contenedorPreg a{
	font-family: Quicksand , sans-serif;;
	font-size:20px;
	text-decoration: none;
	float:left;
	padding: 5px;
	background-color: #B40404;
	color: #fff;
	width: 95%; height:40px;
	text-align: left;
	}
	.contenedorPreg p{
	font-family: Quicksand , sans-serif;;
	font-size:15px;
	text-decoration: none;
	float:left;
	padding: 5px;
	background-color: #F5DEB3 ;
	color: black;
	width: 95%; height:80px;
	text-align: left;
	}
  

/*FOOTER*/
	/*FOOTER PARTE 1*/
    .pieUno{
    background-color: #383838;
    color: white;
    display: flex;
    width: 100%;
    text-align: center;
    font-family: Quicksand , sans-serif;
  } 
	.pieUno hr{
    width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

  .mapaYoutuber{
    flex: 1;
  }
  .mapaEmpresa{
    flex: 1;
  }
  .mapaSitio{
    flex: 1;
    text-align: center;
  }

  .listaSitio{
    list-style-type: none;

  }
  .listaSitio a{
    color: white;
  }

	/*FOOTER PARTE 2*/
  .pieDos{
    background-color: #383838;
    color: white;
    display: flex;
    text-align: center;
    font-family:  Quicksand,sans-serif;
  }

}	