body,html{ height:100%; margin:0;}
/*Formulario*/
.EtiquetaRegistro
{
	font-size: 20pt;
 	text-align: left;
}

.llene
{
	font-size: 14pt;
	color: red;
}

.separadorDatos
{
		width: 300px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
}

form
{
	padding-left: 32%
}

table
{
	border: 1px solid black;
	width: 50%;

	background:white;
    width:50%;
    border-radius:6px;

    padding:0px 0px 70px 0px;
    border: #B40404 4px solid; 
}





@media (min-width: 1271px) {

/*LOGO*/
  .logo{
     text-align: center;
     color: maroon;
  }
  
/*BARRA DE MENU PRINCIPAL*/
  
  .navbar{
    background-color: #B40404;

  }

  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 15%; 
  }
  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:12px;

  }


/*BODY EN GENERAL*/
  body{
    text-align: center;
    font-family: Quicksand , sans-serif;

  }
  h1{
    font-size:1.5em;
    color:#525252;
  }
  p{
  	color: gray;
  }


/*CONTENEDOR UNO (SLIDE Y LOGIN)*/
	.juntaBotones{
		text-align: center;
	}

  .contenedorUno{
    display: flex;
  }
  .slide{
    flex: 5;
    text-align: center;
  }
  .login{
    flex:1;
  }
  .box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #B40404 4px solid; 
  }
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  .olvido{
    color: #f1c40f;
  }

  
/*BOTONES*/
  .btn{
    background:#FF0000;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #FF0000 1px solid;
    
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  .btn:hover{
    background: white; 
    color: red;
  }
  .btn2{
    float:left;
    background: #6E6E6E;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #6E6E6E 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  .btn2:hover{ 
  background: white;
  color: #6E6E6E;

  }

/*CONTENEDOR DOS (EMPRESA Y YOUTUBER)*/
  .contenedorDos hr{
  	width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }
  .contenedorDos{
  	display: flex;
  	text-align: center;
  }
  .contEmpresa{
  	flex:1;
  }
  .contYoutuber{
  	flex:1;
  }
  
/*CONTENEDOR TRES (PORQUE ELEGIR...)*/
  .contPorque{
  	text-align: center;
  }
  .contPorque hr{
  	width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }

  .contenedorTres{
  	display: flex;
  	text-align: center;
  }
  .img1{
  	flex:1;
  }
  .img2{
  	flex:1;	
  }
  .img3{
  	flex:1;
  }

/*FOOTER*/

	/*FOOTER PARTE 1*/
  .pieUno{
  	background-color: #383838;
  	color: white;
  	display: flex;

  	text-align: center;
  	font-family: Quicksand , sans-serif;
  } 
  .pieUno hr{
  	width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

  .mapaYoutuber{
  	flex: 1;
  }
  .mapaEmpresa{
  	flex: 1;
  }
  .mapaSitio{
  	flex: 1;
  	text-align: center;
  }

    .pieUno a{
      color: white;
      list-style-type: none;
      text-align: center;

    }

  /*FOOTER PARTE 2*/
  .pieDos{
  	background-color: #383838;
  	color: white;
  	display: flex;
  	text-align: right;
  	font-family:  Quicksand,sans-serif;
  }

}


@media (min-width: 616px) and (max-width: 1271px){

/*LOGO*/
  .logo{
     text-align: center;
  }

/*BARRA DE MENU PRINCIPAL*/

  .navbar{
    background-color: #B40404;

  }

  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 15%; 
  }

  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:45px;

  }

/*BODY EN GENERAL*/
  body{
    text-align: center;
    font-family: Quicksand , sans-serif;

  }
  h1{
    font-size:1.5em;
    color:#525252;
  }
  p{
    color: gray;
  }

/*CONTENEDOR UNO (SLIDE Y LOGIN)*/
  .slide img{
    margin-top: 5px;
    width: 100%; height: 300px;
  }
  .login{
   width: 100%; height: 300px; 
  }
  .box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    margin-top: 3px;
    padding:0px 0px 70px 0px;
    border: #B40404 4px solid; 
  }
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  .olvido{
    color: #f1c40f;
  }
 
/*BOTONES*/
  .btn{
    background:#FF0000;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #FF0000 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  .btn:hover{
    background: white; 
    color: red;
  }
  .btn2{
    float:left;
    background: #6E6E6E;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #6E6E6E 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  .btn2:hover{ 
  background: white;
  color: #6E6E6E;

  }

/*CONTENEDOR DOS (EMPRESA Y YOUTUBER)*/
  .contenedorDos hr{
    width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }
  .contEmpresa{
	  text-align: center;
  }
  
/*CONTENEDOR TRES (PORQUE ELEGIR...)*/
  .contPorque hr{
    width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }
  .contenedorTres{
    text-align: center;
  }

/*FOOTER*/
	/*FOOTER PARTE 1*/
  .pieUno{
    background-color: #383838;
    color: white;
    display: flex;
    width: 100%;
    text-align: center;
    font-family: Quicksand , sans-serif;
  } 
  .pieUno hr{
    width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

  .mapaYoutuber{
    flex: 1;
  }
  .mapaEmpresa{
    flex: 1;
  }
  .mapaSitio{
    flex: 1;
    text-align: center;
  }

    .pieUno a{
      color: white;
      list-style-type: none;
      text-align: center;

    }

  /*FOOTER PARTE 2*/
  .pieDos{
    background-color: #383838;
    color: white;
    display: flex;
    text-align: center;
    font-family:  Quicksand,sans-serif;
  }

}


@media (min-width: 0px) and (max-width: 616px){

/*LOGO*/
  .logo{
     text-align: center;
  }

/*BARRA DE MENU PRINCIPAL*/

  .navbar{
    background-color: #B40404;
    
  }

  .barraMenu{
    padding: 0;
    margin: auto;
  }
  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 100%;
  }
  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:12px;
  }
/*BODY EN GENERAL*/
  body{
    text-align: center;
    font-family: Quicksand , sans-serif;

  }
  h1{
    font-size:1.5em;
    color:#525252;
  }
  p{
    color: gray;
  }

/*CONTENEDOR UNO (SLIDE Y LOGIN)*/
  .slide img{
    margin-top: 5px;
    width: 100%; height: 300px;
  }
  .login{
   width: 100%; height: 300px; 
  }
  .box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    margin-top: 3px;
    padding:0px 0px 70px 0px;
    border: #B40404 4px solid; 
  }
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  .olvido{
    color: #f1c40f;
  }
  
/*BOTONES*/
  .btn{
    background:#FF0000;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #FF0000 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  .btn:hover{
    background: white; 
    color: red;
  }
  .btn2{
    float:left;
    background: #6E6E6E;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #6E6E6E 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  .btn2:hover{ 
  background: white;
  color: #6E6E6E;

  }

/*CONTENEDOR DOS (EMPRESA Y YOUTUBER)*/
  .contenedorDos hr{
    width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }

/*CONTENEDOR TRES (PORQUE ELEGIR...)*/
  .contPorque hr{
    width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
  }
  .contenedorTres{
    text-align: center;
  }

/*FOOTER*/
  /*FOOTER PARTE 1*/
  .pieUno{
    background-color: #383838;
    color: white;
    display: flex;
    width: 100%;
    text-align: center;
    font-family: Quicksand , sans-serif;
  } 
  .pieUno hr{
    width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

  .mapaYoutuber{
    flex: 1;
  }
  .mapaEmpresa{
    flex: 1;
  }
  .mapaSitio{
    flex: 1;
    text-align: center;
  }

    .pieUno a{
      color: white;
      list-style-type: none;
      text-align: center;

    }

  /*FOOTER PARTE 2*/
  .pieDos{
    background-color: #383838;
    color: white;
    display: flex;
    text-align: center;
    font-family:  Quicksand,sans-serif;
  }

}

