body,html{ height:100%; margin:0;}

@media (min-width: 1230px){

/*LOGO*/
	.logo{
	 text-align: center;
	 color: maroon;
}

/*BARRA DE MENU PRINCIPAL*/
  
  .navbar{
    background-color: #B40404;

  }

  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 15%; 
  }
  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:12px;

  }

	
/*BODY EN GENERAL*/
	hr{
		width: 200px;
		margin-bottom: 40px;
		height: 2px;
		border-style: none;
		background-color: #b10000;
	}
	body{
	  text-align: center;
	  font-family: Quicksand , sans-serif;

	}
	h1{
	  font-size:1.5em;
	  color:black;
	}
	p{
		color: black;
	}

  .equipo{
    display: flex;
  }

  .persona1{
    flex: 1;
  }

  .persona2{
    flex: 1;
  }

  .persona3{
    flex: 1;
  }


/*BOTONES*/
	.btn{
	  background:#B40404;
	  width:125px;
	  padding-top:5px;
	  padding-bottom:5px;
	  color:white;
	  border-radius:4px;
	  border: #B40404 1px solid;

	  margin-top:20px;
	  margin-bottom:20px;
	  margin: auto;
	  margin-left:16px;
	  font-weight:800;
	  font-size:0.8em;
	}
	.btn:hover{
	  background: white; 
	  color: red;
	}


/*FOOTER*/

	/*FOOTER PARTE 1*/
  .pieUno{
  	background-color: #383838;
  	color: white;
  	display: flex;

  	text-align: center;
  	font-family: Quicksand , sans-serif;
  } 
  .pieUno hr{
  	width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

  .mapaYoutuber{
  	flex: 1;
  }
  .mapaEmpresa{
  	flex: 1;
  }
  .mapaSitio{
  	flex: 1;
  	text-align: center;
  }

    .pieUno a{
      color: white;
      list-style-type: none;
      text-align: center;

    }

  /*FOOTER PARTE 2*/
  .pieDos{
  	background-color: #383838;
  	color: white;
  	display: flex;
  	text-align: right;
  	font-family:  Quicksand,sans-serif;
  }

  .pieDos p{
    color: gray;
  }

}

@media (min-width: 577px) and (max-width: 1230px){

/*LOGO*/
  .logo{
     text-align: center;
  }


/*BARRA DE MENU PRINCIPAL*/

  .navbar{
    background-color: #B40404;

  }

  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 15%; 
  }

  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:45px;

  }
  
/*BODY EN GENERAL*/
  hr{
    width: 200px;
    margin-bottom: 40px;
    height: 2px;
    border-style: none;
    background-color: #b10000;
  }
  body{
    text-align: center;
    font-family: Quicksand , sans-serif;

  }
  h1{
    font-size:1.5em;
    color:black;
  }
  p{
    color: black;
  }

  .equipo{
    display: flex;
  }

  .persona1{
    flex: 1;
  }

  .persona2{
    flex: 1;
  }

  .persona3{
    flex: 1;
  }

/*BOTONES*/
	.btn{
	  background:#B40404;
	  width:125px;
	  padding-top:5px;
	  padding-bottom:5px;
	  color:white;
	  border-radius:4px;
	  border: #B40404 1px solid;
	  
	  margin-top:20px;
	  margin-bottom:20px;
		margin: auto;
	  margin-left:16px;
	  font-weight:800;
	  font-size:0.8em;
	}
	.btn:hover{
	  background: white; 
	  color: red;
	}


/*FOOTER*/

  /*FOOTER PARTE 1*/
  .pieUno{
    background-color: #383838;
    color: white;
    display: flex;

    text-align: center;
    font-family: Quicksand , sans-serif;
  } 
  .pieUno hr{
    width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

  .mapaYoutuber{
    flex: 1;
  }
  .mapaEmpresa{
    flex: 1;
  }
  .mapaSitio{
    flex: 1;
    text-align: center;
  }

    .pieUno a{
      color: white;
      list-style-type: none;
      text-align: center;

    }

  /*FOOTER PARTE 2*/
  .pieDos{
    background-color: #383838;
    color: white;
    display: flex;
    text-align: right;
    font-family:  Quicksand,sans-serif;
  }

  .pieDos p{
    color: gray;
  }

}

@media (min-width: 0px) and (max-width: 577px){

/*LOGO*/
  .logo{
     text-align: center;
  }

/*BARRA DE MENU PRINCIPAL*/
  .navbar{
    background-color: #B40404;
    
  }

  .barraMenu{
    padding: 0;
    margin: auto;
  }
  .barraMenu li {
  display: inline;

  }
  .barraMenu li a {
  font-family: Quicksand , sans-serif;;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  background-color: #B40404;
  color: #fff;
  width: 100%;
  }
  .barraMenu li a:hover {
  background-color: #FF0000;
  margin-top:-2px;
  padding-bottom:12px;
  }

/*BODY EN GENERAL*/
	body{
    text-align: center;
    font-family: Quicksand , sans-serif;

  }
	body h1{
    color: black;
	
  }
	body hr{
	width: 200px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: #b10000;
	}
	p{
    color: black;
  }
	.contenedorUno{
	display: flex;
  }

  
/*BOTONES*/
	.btn{
  background:#B40404;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #B40404 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  margin: auto;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
  }
	.btn:hover{
  background: white; 
  color: red;	
  }


/*FOOTER*/

  /*FOOTER PARTE 1*/
  .pieUno{
    background-color: #383838;
    color: white;
    display: flex;

    text-align: center;
    font-family: Quicksand , sans-serif;
  } 
  .pieUno hr{
    width: 100px;
      margin-bottom: 40px;
      height: 2px;
      border-style: none;
      background-color: red;

  }

  .mapaYoutuber{
    flex: 1;
  }
  .mapaEmpresa{
    flex: 1;
  }
  .mapaSitio{
    flex: 1;
    text-align: center;
  }

    .pieUno a{
      color: white;
      list-style-type: none;
      text-align: center;

    }

  /*FOOTER PARTE 2*/
  .pieDos{
    background-color: #383838;
    color: white;
    display: flex;
    text-align: right;
    font-family:  Quicksand,sans-serif;
  }

  .pieDos p{
    color: gray;
  }

}

p{
  color: gray;
}