html
{
	background-color: #2b2b2a;
}

header 
{
	background-color: red;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 200px;
	width: 100%;
	display: inline-flex;
	text-align: center;

}

#titulo
{
	text-align: center;
	font-size: 350%;
	color:white;
	padding-top: 40px;
	padding-right: 100px;
	padding-left: 280px;
}

#logo
{
	width: 300px;
  	height: 210px;
  	padding-top: 0%;
}

#title{
	text-align: center;
	font-size: 350%;
	color:white;
	padding-top: 40px;
	padding-right: 100px;
	padding-left: 280px;
}

#fornulario{
   
    float: center;
	
}


input{
	margin: 6;
}

label{
	color:white;
}


section{
	font-size: 25px;
	margin-right:auto;
}

th{
	background: white;
	border-radius: 9px;
	padding:  5px 15px;
}

td{
	background: red;
	border-radius: 9px;
	padding:  5px 15px;

}

table{
	border-collapse: collapse;
	border-spacing: 3px;
	margin: auto;
	margin-top: 15px;
}

caption{
	background: red;
}

#superior{
	margin-top: 20;
}

#h2{
	font-size: 35;
	margin-top: 20;
	text-align: center;
	color: white;
}