<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<!--Plantilla Titulo-->
	<title>Modificar</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/control.css"/>
	<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
</head>
<body>
	<!--Plantilla Cabecera-->
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt=""width="200" height="75" >
		</div>
		<br>
		<div>
			<ul class="barraMenu">
					<li><a href="../index.html" title="Inicio">Inicio</a></li>
					<li><a href="quienesSomos.html" title="QuienesSomos">¿Quiénes somos?</a></li>
					<li><a href="terminos.html" title="terminos">Información</a></li>
					<li><a href="contacto.html" title="Contacto">Contacto</a></li>
					<li><a href="eligeRegistro.html" title="Registro">Registro</a></li>
					<li><a href="maquetaPreguntas.html" title="FAQ">FAQ</a></li>
			</ul>
		</div> 
	</header>
	<br><br><br>
	<h2>Youtubers registrados</h2>
	<hr>
	<table>
<thead>
	<tr>
		
		<th>Icono de canal</th> 
		<th>Nombre</th>
		<th>Nombre del canal</th>
		<th>Correo</th>
		<th>Fecha de registro</th>
		<th>Teléfono</th>
		<th>Sexo</th>

	</tr>

</thead>
<tbody>
	<tr >
		<td><img src="images.png"></td>
		<td>Gabriel MOntiel</td>
		<td>Werevertumorro</td>
		<td>GabrelM@gmail.com</td>
		<td>13/02/2017</td>
        <td>3315647364</td>
		<td>M</td>
	</tr>

<tr>
		<td><img src="images.png"></td>
		<td>German Garmendia</td>
		<td>HolaSoyGerman</td>
		<td>GermanG@gmail.com</td>
		<td>01/02/2017</td>
        <td>3334756475</td>
        <td>M</td>
	</tr>

	<tr>
		<td><img src="images.png"></td>
		<td>Juliana</td>
		<td>Yuya</td>
		<td>Yuya@gmail.com</td>
		<td>04/01/2017</td>
        <td>3334758475</td>
        <td>F</td>
	</tr>

</tbody>
</table>



<section> 

<h1 id="h3">Ingrese la nueva información del youtuber seleccionado</h1>
<div>	
	<label for="nombreusuario">Nombre de usuario</label>
	<input type="text" name="nombreusuario" id="nombreusuario" placeholder="Nombre de usuario">
</div>

<div>
<label for="password">Password</label>
<input type="password" name="Password" id="password" placeholder="Contraseña" >
</div>

<div>
<label for="nombre" >Nombre</label>
<input type="text" id="nombre" name="nombre" placeholder="Nombre" />
</div>


<div>	
	<label for="nombrecanal">Nombre del canal</label>
	<input type="text" id="nombrecanal" name="nombrecanal" placeholder="Nombre del canal">
</div>

<div>	
	<label for="categoria">Categoria del canal</label>
	<input type="text"  id="categoria" name="categoria" placeholder="Categoria">
</div>

<div>	
	<label for="suscriptores">Suscriptores del canal</label>
	<input type="text"  id="suscriptores" name="suscriptores" placeholder="Suscriptores">
</div>


<div>
<label for="correo">Correo</label>
<input type="mail" id="correo" name="correo" placeholder="Correo" />
</div>

<div>	
	<label for="telefono">Nombre del canal</label>
	<input type="text"  id="telefono" name="telefono" placeholder="Telefono">
</div>


<div>
<label>Sexo: </label>
<input type="radio" name="opcion" value="1" id="opcion1">
<label for="opcion1">Femenino</label>
<input type="radio" name="opcion" value="2" id="opcion2">
<label for="opcion2">Masculino</label>
</div>

<div>
	<button type="submit">Guardar</button>

</div>

</section>




	<!-- plantilla footer-->
		<br><br><br>

		<footer id="footer">
			<div class="pieUno">
				<div class ="mapaYoutuber">
					<h4>SÍGUENOS</h4>
					<hr>
						<img src="../images/youtubeIcon.png" alt="" width="40" height="40">
						<img src="../images/faceIcon.png" alt="" width="40" height="40">
						<img src="../images/twittIcon.png" alt="" width="40" height="40">
						<img src="../images/instaIcon.png" alt="" width="40" height="40">
				</div>

				<div class ="mapaSitio">
					<h4>CONTENIDO</h4>
					<hr>
						<a href="../index.html">Inicio</a><br>
						<a href="quienesSomos.html" title="QuienesSomos">¿Quiénes somos?</a><br>
						<a href="terminos.html" title="terminos">Información</a><br>
						<a href="contacto.html" title="Contacto">Contacto</a><br>
						<a href="eligeRegistro.html" title="Registro">Registro</a><br>
						<a href="maquetaPreguntas.html" title="FAQ">FAQ</a><br>
				</div>

				<div class ="mapaEmpresa">
					<h4>LEGALIDAD</h4>
					<hr>
						<a href="terminos.html">Aviso de privacidad</a><br>
						<a href="terminos.html">Términos y condiciones</a><br>
				</div>
			</div>
			<div class = "pieDos">
				<p>© 2017 PubliTube - Publicidad empresarial por bloggeros.		Tel.12233445</p>
			</div>
		</footer>
	</body>
</html>