<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<!--Plantilla Titulo-->
	<title>Modificar</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/control.css"/>
	<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
</head>
<body>
	<!--Plantilla Cabecera-->
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt=""width="200" height="75" >
		</div>

		<div>
			<ul class="barraMenu">
					<li><a href="../index.html" title="Inicio">Inicio</a></li>
					<li><a href="#" title="Enlace genérico">¿Quienes somos?</a></li>
					<li><a href="../views/terminos.html" title="terminos">Información</a></li>
					<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
					<li><a href="../views/eligeRegistro.html" title="Registro">Registro</a></li>
					<li><a href="../views/maquetaPreguntas.html" title="FAQ">FAQ</a></li>
			</ul>
		</div> 
	</header>

	<table>
	<caption>Youtubers registrados</caption>

<thead>
	<tr>
		
		<th>Icono de canal</th> 
		<th>Nombre</th>
		<th>Nombre del canal</th>
		<th>Correo</th>
		<th>Fecha de registro</th>
		<th>Telefono</th>
		<th>Sexo</th>

	</tr>

</thead>
<tbody>
	<tr >
		<td><img src="images.png"></td>
		<td>Gabriel MOntiel</td>
		<td>Werevertumorro</td>
		<td>GabrelM@gmail.com</td>
		<td>13/02/2017</td>
        <td>3315647364</td>
		<td>M</td>
	</tr>

<tr>
		<td><img src="images.png"></td>
		<td>German Garmendia</td>
		<td>HolaSoyGerman</td>
		<td>GermanG@gmail.com</td>
		<td>01/02/2017</td>
        <td>3334756475</td>
        <td>M</td>
	</tr>

	<tr>
		<td><img src="images.png"></td>
		<td>Juliana</td>
		<td>Yuya</td>
		<td>Yuya@gmail.com</td>
		<td>04/01/2017</td>
        <td>3334758475</td>
        <td>F</td>
	</tr>

</tbody>
</table>



<section> 

<h1 id="h3">Ingrese la nueva informacion del youtuber seleccionado</h1>
<div>	
	<label for="nombreusuario">Nombre de usuario</label>
	<input type="text" name="nombreusuario" id="nombreusuario" placeholder="Nombre de usuario">
</div>

<div>
<label for="password">Password</label>
<input type="password" name="Password" id="password" placeholder="Contraseña" >
</div>

<div>
<label for="nombre" >Nombre</label>
<input type="text" id="nombre" name="nombre" placeholder="Nombre" />
</div>


<div>	
	<label for="nombrecanal">Nombre del canal</label>
	<input type="text" id="nombrecanal" name="nombrecanal" placeholder="Nombre del canal">
</div>

<div>	
	<label for="categoria">Categoria del canal</label>
	<input type="text"  id="categoria" name="categoria" placeholder="Categoria">
</div>

<div>	
	<label for="suscriptores">Suscriptores del canal</label>
	<input type="text"  id="suscriptores" name="suscriptores" placeholder="Suscriptores">
</div>


<div>
<label for="correo">Correo</label>
<input type="mail" id="correo" name="correo" placeholder="Correo" />
</div>

<div>	
	<label for="telefono">Nombre del canal</label>
	<input type="text"  id="telefono" name="telefono" placeholder="Telefono">
</div>


<div>
<label>Sexo: </label>
<input type="radio" name="opcion" value="1" id="opcion1">
<label for="opcion1">Femenino</label>
<input type="radio" name="opcion" value="2" id="opcion2">
<label for="opcion2">Masculino</label>
</div>

<div>
	<button type="submit">Guardar</button>

</div>

</section>



	<!-- plantilla footer-->
	<br><br><br>
	<footer>
		<div class="pieUno">
			<div class ="mapaYoutuber">
				<h5>YOUTUBERS</h5>
				<hr>
			</div>

			<div class ="mapaEmpresa">
				<h5>EMPRESAS</h5>
				<hr>
			</div>

			<div class ="mapaSitio">
				<h5>MAPA DE SITIO</h5>
				<hr>
				<ul class="listaSitio">
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="">¿Quiénes somos?</a></li>
						<li><a href="">Información</a></li>
						<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
						<li><a href="../views/eligeRegistro.html">Registro</a></li>
						<li><a href="../views/maquetaPreguntas.html">FAQ</a></li>
				</ul>
			</div>
		</div>
		<div class = "pieDos">
			<p>&copy 2017 PubliMex - Publicidad empresarial por bloggeros.		Tel.12233445</p>
		</div>
	</footer>
</body>
</html>