<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<!--Plantilla Titulo-->
	<title>Registra tu Empresa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/formularioEmpresa.css"/>
	<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
</head>
<body>
	<!--Plantilla Cabecera-->
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt=""width="200" height="75" >
		</div>

		<div>
			<ul class="barraMenu">
				<li><a href="../index.html" title="Inicio">Inicio</a></li>
				<li><a href="../views/quienesSomos.html" title="Quienes Somos">&iquestQuienes somos?</a></li>
				<li><a href="#" title="Enlace genérico">Informaci&oacuten</a></li>

				<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
				<li><a href="../views/eligeRegistro.html" title="Registro">Registro</a></li>
				<li><a href="../views/maquetaPreguntas.html" title="FAQ">FAQ</a></li>
			</ul>
		</div> 
	</header>

	<div class="TablaEmpresas">
		<div id="DatosContacto">
			<label class="EtiquetaRegistro">Registro Empresa</label>
			<br>
			<label class="llene">Llene Formulario de Registro</label>
			<hr class="SeparadorDatos">
		</div>
	 	<form name="formu" id="formu" onsubmit="return comprobar()">
	  		<table id="formularioEmpresa">
		    	<tr><td>Nombre de la Empresa</td><td><input type="text" maxlength="30" placeholder="ejem. Youtube" name="nombre"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>E-mail</td><td><input type="email" maxlength="40" placeholder="ejem@ejem" name="email"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Apellidos de Contacto</td><td><input type="text" maxlength="30" placeholder="ejem. Garcia" name="apellido"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Nombre del Contacto</td><td><input type="text" maxlength="20" placeholder="ejem. Dioni" name="contac"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Contraseña</td><td><input type="password" maxlength="30" placeholder="Contraseña123" name="pass"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Repita su Contraseña</td><td><input type="password" maxlength="30" placeholder="Contraseña123" name="rpass"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Telefono de contacto</td><td><input type="tel" maxlength="12" placeholder="22 2222 22" name="tel"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>RFC</td><td><input type="text" maxlength="12" placeholder="RFC" name="rfc"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td><input type="submit"> <input type="reset"></td></tr>
	  		</table>
		</form>
	</div>

	<!-- plantilla footer-->
	<br><br><br>
	<footer>
		<div class="pieUno">
			<div class ="mapaYoutuber">
				<h5>YOUTUBERS</h5>
				<hr>
			</div>

			<div class ="mapaEmpresa">
				<h5>EMPRESAS</h5>
				<hr>
			</div>

			<div class ="mapaSitio">
				<h5>MAPA DE SITIO</h5>
				<hr>

						<li><a href="../index.html">Inicio</a></li>
						<li><a href="">¿Quiénes somos?</a></li>
						<li><a href="">Información</a></li>
						<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
						<li><a href="../views/eligeRegistro.html">Registro</a></li>
						<li><a href="../views/maquetaPreguntas.html">FAQ</a></li>
				</ul>
			</div>
		</div>
		<div class = "pieDos">
			<p>&copy 2017 PubliMex - Publicidad empresarial por bloggeros.		Tel.12233445</p>
		</div>
	</footer>

	<script type="text/javascript">
		function comprobar()
		{
			var nombre = document.formu.nombre.value;
			var email = document.formu.email.value;
			var apellido = document.formu.apellido.value;
			var contac = document.formu.contac.value;
			var pass = document.formu.pass.value;
			var rpass = document.formu.rpass.value;
			var tel = document.formu.tel.value;
			var rfc = document.formu.rfc.value;
			var expr = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;

			if (nombre.length > 15)
		   	{
		      	alert("Tu nombre es demasiado grande. Redúcelo.");
		      	return false;
		   	}

			if(expr.test(email))
			{
				
			}
			else{alert("El correo es invalido, vuelve a comprobar");}

			if(rpass != pass)
			{
				alert("Las contraseñas no coinciden");
				return false;
			}

			if(nombre.length == 0)
			{
				alert("Llenar todos los campos");
		      	return false;
			}
			else if(email.length == 0)
	      	{
	      		alert("Llenar todos los campos");
	      		return false;
	      	}
	      	else if(apellido.length == 0)
	      	{
	      		alert("Llenar todos los campos");
	      		return false;
	      	}
	      	else if(contac.length == 0)
	      	{
	      		alert("Llenar todos los campos");
	      		return false;
	      	}
	      	else if(pass.length == 0)
	      	{
	      		alert("Llenar todos los campos");
	      		return false;
	      	}
	      	else if(rpass.length == 0)
	      	{
	      		alert("Llenar todos los campos");
	      		return false;
	      	}
	      	else if(tel.length == 0)
	      	{
	      		alert("Llenar todos los campos");
	      		return false;
	      	}
	      	else if(rcf.length == 0)
	      	{
	      		alert("Llenar todos los campos");
	      		return false;
	      	}

			return true;
		}
	</script>

	</body>
</html>