<!DOCTYPE <!DOCTYPE html>
<html>
	<head>
		<title>Preguntas Frecuentes</title>
		<link rel="stylesheet" type="text/css" href="../css/maquetaPreguntas.css"/>
		<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
	</head>
	<body>
		<header>
			<div class="logo">
				<img src="../images/logo.png" alt=""width="200" height="75" >
			</div>
			<div>
				<ul class="barraMenu">
					<li><a href="../index.html" title="Inicio">Inicio</a></li>
					<li><a href="../views/quienesSomos.html" title="Quienes Somos">&iquestQuienes somos?</a></li>
					<li><a href="#" title="Enlace genérico">Información</a></li>
					<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
					<li><a href="#" title="Enlace genérico">Registro</a></li>
					<li><a href="../views/maquetaPreguntas.html" title="FAQ">FAQ</a></li>
				</ul>				
			</div> 
		</header>
		<br>
		<br>
		<br>
		<br>
		<br>

		<div class = "contenedorUno">
			<img src="../images/faq.png" alt=""width="120" height="120" >
			<h1>Preguntas Frecuentes</h1>
			<hr>
		</div>

		<div class = "contenedorPreg">
			<h1>Usuarios YouTube:</h1>
			<ul>
				<a>1- ¿Se puede ofertar algo diferente aun producto? (Eventos, Mensajes, etc.)</a>
				<p>R: Por el momento no, pero se trabajará en ello.</p>

				<a>2- ¿Cómo sabrán si ya realicé el video?</a>
				<p>R: Dentro de la ventana "Mis patrocinios" se podrá ver la casilla "Subir Video", el cual notificará a los involucrados de dicho movimiento.</p>

				<a>3- ¿Cómo es el método de pago?</a>
				<p>R: Se realiza el contacto, la empresa paga por el producto pero el dinero se retiene hasta que el youtuber realiza el video,de caso contrario se regresará el dinero a la empresa.</p>

				<a>4- ¿Puede pasar que no me paguen y ya realicé el video?</a>
				<p>R: No, puesto que antes de realizar el video la empresa tiene que realizar el pago (El cual será retenido hasta que se suba el video).</p>

				<a>5- Realicé el video pero después de la fecha acordada...</a>
				<p>R: Dependerá mucho sobre la decisión de la empresa si seguir o no, pero se tendrá que realizar la conexión nuevamente puesto que ya se le habrá devuelto el dinero a la empresa en ese momento.</p>
				<br><br>

				<h1>Usuarios Empresa:</h1>
	
				<a>6- Ya pagué ¿Qué pasa si no se realiza el video en el tiempo acordado?</a>
				<p>R: Se le devolverá el dinero puesto que al pagar, no se le da el dinero al youtuber si no que lo retiene PubliTube para evitar este tipo de percances.</p>

				<a>7- ¿Se puede contactar a un youtuber pero con más confidencialidad sobre mi producto?</a>
				<p>R: No, para evitar mal uso del servicio.</p>

				<a>8- Me contactar youtubers con pocos subscriptores ¿Qué puedo hacer?</a>
				<p>R: Se podrá realizar una restricción por estrellas en el cual puedes seleccionar que tipo de youtuber quieres que te contacten.</p>
			</ul>
		</div>
		<br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br>
		<footer>
			<div class="pieUno">
				<div class ="mapaYoutuber">
					<h5>YOUTUBERS</h5>
					<hr>
				</div>
				<div class ="mapaEmpresa">
					<h5>EMPRESAS</h5>
					<hr>
				</div>
				<div class ="mapaSitio">
					<h5>MAPA DE SITIO</h5>
					<hr>
					<ul class="listaSitio">
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="">¿Quiénes somos?</a></li>
						<li><a href="">Información</a></li>
						<li><a href="">Contacto</a></li>
						<li><a href="">Registro</a></li>
						<li><a href="../views/maquetaPreguntas.html">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class = "pieDos">
				<p>© 2017 PubliMex - Publicidad empresarial por bloggeros.		Tel.12233445</p>
			</div>
		</footer>
	</body>
</html>