<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<!--Plantilla Titulo-->
	<title>Modificar mi Video</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/modificarMisVideos.css"/>
	<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/manejoDOM.js"></script>
</head>
<body>
	<div class="vtnFondoN">
			<div class="form">
			<div class="cerrar"><a href="javascript:closeFondoNegro();"> Cierra X</a></div>
			<p>¿Desea guardar las modificaciones?</p>
			<hr>
			<button>Confirmar cambios</button><button>Cerrar</button>
			</div>
	</div>
	<!--Plantilla Cabecera--> 
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt=""width="200" height="75" >
		</div>
		<br>
			<nav class="navbar navbar-default">
					<ul class="barraMenu">
						<li><a href="../index.html" title="Inicio">Inicio</a></li>
						<li><a href="quienesSomos.html" title="QuienesSomos">¿Quiénes somos?</a></li>
						<li><a href="terminos.html" title="terminos">Información</a></li>
						<li><a href="contacto.html" title="Contacto">Contacto</a></li>
						<li><a href="eligeRegistro.html" title="Registro">Registro</a></li>
						<li><a href="maquetaPreguntas.html" title="FAQ">FAQ</a></li>
					</ul>
			</nav>
		</header>
	<!--Cuerpo-->
	<div class="TablaEmpresas">
		<div id="DatosContacto">

			<label class="EtiquetaRegistro">Modificar Mi Video</label>
			<br>
			<hr class="SeparadorDatos">
		</div>
		<br>
	 	<form>
	  		<table id="formularioEmpresa">
		    	<tr><td>Link:</td><td><input type="text" name="url" class="url" value="https://www.youtube.com/watch?v=cF8dcQHM3cY"/></td></tr>
		    	<tr><td>Título:</td><td><input type="text" name="url" class="url" value="Refresca Beach"/></td></tr>
		    	
		    	<tr><td>Selecciona una Empresa</td><td><select id="soflow" class="url">
  					<option>Coca-Cola</option>
  					<option>Empresa 2</option>
				</select></td>
				</tr>


				<tr><td>Seleciona una Producto</td><td><select id="soflow" class="url">
  					<option>Sprite Pepino</option>
  					<option>Producto 2</option>
				</select></td>
				</tr>
		    	<tr><td>Comentarios:</td><td><textarea class="url" name="message" rows="7" cols="30">Se realizó el video, en minuto 6:34 está mostrado el producto con todos los detalles</textarea></td></tr>
		    	<tr><td><a href="javascript:openFondoNegro();" class = "btn2" type="button">Guardar Cambios</td><td><a class = "btn2" type="button" href="misVideos.html">Cancelar</a></td></tr>
	  		</table>
		</form>
	</div>

	<!-- plantilla footer-->
		<br><br><br>

		<footer id="footer">
			<div class="pieUno">
				<div class ="mapaYoutuber">
					<h4>SÍGUENOS</h4>
					<hr>
						<img src="../images/youtubeIcon.png" alt="" width="40" height="40">
						<img src="../images/faceIcon.png" alt="" width="40" height="40">
						<img src="../images/twittIcon.png" alt="" width="40" height="40">
						<img src="../images/instaIcon.png" alt="" width="40" height="40">
				</div>

				<div class ="mapaSitio">
					<h4>CONTENIDO</h4>
					<hr>
						<a href="../index.html">Inicio</a><br>
						<a href="quienesSomos.html" title="QuienesSomos">¿Quiénes somos?</a><br>
						<a href="terminos.html" title="terminos">Información</a><br>
						<a href="contacto.html" title="Contacto">Contacto</a><br>
						<a href="eligeRegistro.html" title="Registro">Registro</a><br>
						<a href="maquetaPreguntas.html" title="FAQ">FAQ</a><br>
				</div>

				<div class ="mapaEmpresa">
					<h4>LEGALIDAD</h4>
					<hr>
						<a href="terminos.html">Aviso de privacidad</a><br>
						<a href="terminos.html">Términos y condiciones</a><br>
				</div>
			</div>
			<div class = "pieDos">
				<p>© 2017 PubliTube - Publicidad empresarial por bloggeros.		Tel.12233445</p>
			</div>
		</footer>
	</body>
</html>