<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<!--Plantilla Titulo-->
	<title>Quienes Somos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/quienesSomos.css"/>
	<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
	
</head>
<body>
	<!--Plantilla Cabecera-->
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt=""width="200" height="75" >
		</div>
		<br>
			<nav class="navbar navbar-default">
					<ul class="barraMenu">
						<li><a href="../index.html" title="Inicio">Inicio</a></li>
						<li><a href="quienesSomos.html" title="QuienesSomos">¿Quiénes somos?</a></li>
						<li><a href="terminos.html" title="terminos">Información</a></li>
						<li><a href="contacto.html" title="Contacto">Contacto</a></li>
						<li><a href="eligeRegistro.html" title="Registro">Registro</a></li>
						<li><a href="maquetaPreguntas.html" title="FAQ">FAQ</a></li>
					</ul>
			</nav>
		</header>
	<h2>¿Qué es PubliTube?</h2>
	<hr>

	<div class="Simples_letras">
		<p>Publitube es una empresa joven y dinámica que entiende la creación de contenidos de calidad como el fundamento del futuro de Internet.
		Fué creada con el objetivo de apoyar el patrocinio de los youtubers por medio de empresas.</p>
		<p>
		Cualquier empresa puede adquirir un youtuber y contactar con 
		él para que por medio de sus video le dé publicidad a cambio
		de una remuneración económica.
		</p>

		






		<h2>El equipo</h2>
		<hr>
		<div class = "equipo">
			<div class="persona1">
				<p>
					Dioni Monserrat Miramontes Gallegos
				</p>
				<img src="../images/usuario.jpg" alt="" width="141" height="80" >
			</div>
			<div class="persona2">
				<p>
					Diego Alberto Ayala Vazquez
				</p>
				<img src="../images/usuario.jpg" alt="" width="141" height="80" >
			</div>
			<div class="persona3">
				<p>
				Cesar Uriel Madero Plascencia
				</p>
				<img src="../images/usuario.jpg" alt="" width="141" height="80" >
			</div>
		</div>
	</div>
	<br>
	<h2>Instalaciones</h2>
	<hr>
	<div class = "w3-content w3-display-container">
		<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  		<button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
		<img class="mySlides" src="../images/office0.png" alt="" >
	    <img class="mySlides" src="../images/office1.png" alt="" >
	    <img class="mySlides" src="../images/office2.png" alt="" >
	    <img class="mySlides" src="../images/office3.png" alt="" >
	    <img class="mySlides" src="../images/office4.png" alt="" >
	    
	</div>

	<!-- plantilla footer-->
		<br><br><br>

		<footer id="footer">
			<div class="pieUno">
				<div class ="mapaYoutuber">
					<h4>SÍGUENOS</h4>
					<hr>
						<img src="../images/youtubeIcon.png" alt="" width="40" height="40">
						<img src="../images/faceIcon.png" alt="" width="40" height="40">
						<img src="../images/twittIcon.png" alt="" width="40" height="40">
						<img src="../images/instaIcon.png" alt="" width="40" height="40">
				</div>

				<div class ="mapaSitio">
					<h4>CONTENIDO</h4>
					<hr>
						<a href="../index.html">Inicio</a><br>
						<a href="quienesSomos.html" title="QuienesSomos">¿Quiénes somos?</a><br>
						<a href="terminos.html" title="terminos">Información</a><br>
						<a href="contacto.html" title="Contacto">Contacto</a><br>
						<a href="eligeRegistro.html" title="Registro">Registro</a><br>
						<a href="maquetaPreguntas.html" title="FAQ">FAQ</a><br>
				</div>

				<div class ="mapaEmpresa">
					<h4>LEGALIDAD</h4>
					<hr>
						<a href="terminos.html">Aviso de privacidad</a><br>
						<a href="terminos.html">Términos y condiciones</a><br>
				</div>
			</div>
			<div class = "pieDos">
				<p>© 2017 PubliTube - Publicidad empresarial por bloggeros.		Tel.12233445</p>
			</div>
		</footer>
		<script src="../js/slide.js"></script>
	</body>
</html>