<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<!--Plantilla Titulo-->
	<title>Titulo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/terminos.css"/>
	<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
</head>
<body>
	<!--Plantilla Cabecera-->
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt=""width="200" height="75" >
		</div>

		<div>
			<ul class="barraMenu">
					<li><a href="../index.html" title="Inicio">Inicio</a></li>
					<li><a href="#" title="Enlace genérico">¿Quienes somos?</a></li>
					<li><a href="../views/terminos.html" title="terminos">Información</a></li>
					<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
					<li><a href="../views/eligeRegistro.html" title="Registro">Registro</a></li>
					<li><a href="../views/maquetaPreguntas.html" title="FAQ">FAQ</a></li>
			</ul>
		</div> 
	</header>

<h1 id="h3"> Terminos y Condiciones de uso del sitio Web </h1>

<h2>Aceptacion de contrato</h2>
<p>Al registraste en nuestra plataforma estas aceptando compartir tu informacion personal con nosotros.
y usted como usario o usuaria acepta cumplis los terminos establecidos en este contrato, En caso de que usted no acepte quedar vinculado por los presentes términos y condiciones, no podrá acceder a, ni utilizar, el Sitio Web.
se reservan el derecho de actualizar el presente Contrato siempre que lo consideren oportuno. En consecuencia, recomendamos al Usuario revisar periódicamente las modificaciones efectuadas al Contrato.
El presente Sitio Web está dirigido a personas de cualquier pais.
</p>

<h2>Requisitos </h2>
<p>Para poer hacer uso de nuestra plataforma se necesita que estrictamente que se sea mayor de edad
si es es menor de edad no se esta autorizado al uso de esta plaaforma.
</p>

<h2>Licencia </h2>
<p>Nuestro siatio le otorga al usuario una licencia no exclusiva e instransferible, no suceptible de 
secion y revocable en caso de ser necesario, para poder formar parte de nuestro servicio es necesario tener un canal
de youtube y ser constante en subir material a esta plataforma. 
El Contenido está protegido por las leyes de copyright Mexicanas, estadounidenses e internacionales, así como por las demás leyes, reglamentos y normas aplicables a los derechos de propiedad intelectual. Salvo disposición expresa en contrario en el presente contrato, y/o salvo que por imperativo legal ello esté expresamente permitido por leyes derogatorias de las actualmente vigentes, el Usuario no podrá utilizar, copiar, modificar, mostrar, eliminar, distribuir, descargar, almacenar, reproducir, transmitir, publicar, vender, revender, adaptar, invertir el proceso de creación o crear productos derivados a partir de, el Contenido de otros youtubers o empresas registradas a nestra
plataforma. 
</p>

<h2>Informacion </h2>
<p>Publitube se reserva el derecho de a su libre juicio de eliminar, retirar, negarse a reflejar o bloquear toda Información de de los usuarios que se considere como inaceptable, en caso de recivirse notificaciones de informacion
inapropiada con total libertad investigaremos dicha informacion, con estas medidas se busca
(i) proteger la integridad del Sitio Web;
(ii) proteger los derechos de RH;
(iii) cumplir una orden judicial;
(iv) cumplir cualquier trámite legal;
(v) satisfacer cualquier petición relativa a la infracción de derechos de terceros.
</p>

<h2>Prohibiciones generales </h2>
<p>Al acceder a y utilizar el Sitio Web, el Usuario se compromete a NO:
(a) incumplir todas las leyes, reglamentos y normas aplicables a nivel local, estatal, provincial, nacional (Mexico), así como cualquier otra legislación aplicable como las leyes contra la discriminación laboral o las leyes por la igualdad de oportunidades en el empleo, cuando proceda;
(b) infringir los derechos de propiedad intelectual y de privacidad, entre otros, los derechos de patente (copyright), los derechos sobre la base de datos, las marcas registradas o el know how de terceros;
(c) descargar, enviar, transmitir o almacenar material que:
-sea ilegal, ofensivo, difamatorio, fraudulento, engañoso, que induzca a error, dañino, amenazador, hostil, obsceno o censurable;
-infrinja las obligaciones contractuales o de confidencialidad del Usuario;
-perjudique o interfiera en las aplicaciones normales del Sitio Web, como el envío o la transmisión de virus, gusanos o troyanos, el envío continuado de material repetido o el envío de archivos desacostumbradamente grandes; o
-que no esté permitido por RH, como, por ejemplo, material publicitario no autorizado, material promocional no solicitado, “correo basura”, “spams”, “cartas en cadena”, mensajes de venta directa piramidal, franquicias, material de distribución, de asociación a un club, contratos de venta o cualquier otro material inaceptable;
(d) vulnerar los derechos personales y de privacidad de terceros abusando del Contenido, como, por ejemplo, acosando o molestando continuadamente a dichas personas enviándoles correos electrónicos no solicitados, o recabando información de carácter personal;
(e) contravenir, o intentar contravenir, las medidas de seguridad del Sitio Web;
(f) utilizar cualquier aparato, procedimiento o mecanismo como, por ejemplo, spiders y robots de rastreo, para localizar, rescatar, buscar, o acceder al Sitio Web o al Contenido, sin el previo consentimiento por escrito de parte de RH;
(g) acceder o intentar acceder a la cuenta o al login de las terceras personas o empresas indicadas en el Sitio Web;
(h) copiar, modificar, reproducir, eliminar, distribuir, descargar, almacenar, transmitir, vender, revender, publicar, invertir el proceso de creación o crear productos derivados a partir del Contenido, excepto en lo que concierne al material remitido por el propio Usuario y que es de su propiedad, o si así lo autorizan las leyes de propiedad intelectual aplicables;
(i) enviar o facilitar información incorrecta, falsa o incompleta, en relación con el currículum vitae, los datos biográficos, la fecha en que empezó a trabajar o el perfil de la empresa del Usuario;
(j) hacerse pasar por otra persona o empresa;
(k) utilizar el Sitio Web de forma no autorizada o para alguna actividad delictiva;
(l) falsificar la información de cabecera en el correo electrónico; o
(m) falsificar los datos sobre sí mismo, sobre su asociación con terceros o sobre su empresa.
</p>

<h2>Utilizacion </h2>
<p>Además de las obligaciones generales señaladas en el Artículo 5, el Usuario deberá:
(a) utilizar el Sitio Web únicamente para los fines legalmente permitidos de buscar una empresa patrocinadora
(b) facilitar y mantener los datos personales que conforman la Información del Usuario de forma completa, correcta, actualizada y veraz;
(c) enviar solamente material sobre el que el Usuario tenga los correspondientes derechos o licencia para hacerlo;
(d) utilizar su propio criterio, precaución y sentido común al gestionar la información  conseguida a través del Sitio Web; y
(e) asumir el riesgo de confiar en el contenido, o utilizar la información, facilitados por terceros.
</p>



	<!-- plantilla footer-->
	<br><br><br>
	<footer>
		<div class="pieUno">
			<div class ="mapaYoutuber">
				<h5>YOUTUBERS</h5>
				<hr>
			</div>

			<div class ="mapaEmpresa">
				<h5>EMPRESAS</h5>
				<hr>
			</div>

			<div class ="mapaSitio">
				<h5>MAPA DE SITIO</h5>
				<hr>
				<ul class="listaSitio">
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="">¿Quiénes somos?</a></li>
						<li><a href="">Información</a></li>
						<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
						<li><a href="../views/eligeRegistro.html">Registro</a></li>
						<li><a href="../views/maquetaPreguntas.html">FAQ</a></li>
				</ul>
			</div>
		</div>
		<div class = "pieDos">
			<p>&copy 2017 PubliMex - Publicidad empresarial por bloggeros.		Tel.12233445</p>
		</div>
	</footer>
</body>
</html>