<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<!--Plantilla Titulo-->
	<title>Registra tu Empresa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/verPerfilEmpresa.css"/>
	<link rel="shortcut icon" type= "image/png" href="../images/favicon.png"/>
</head>
<body>
	<!--Plantilla Cabecera-->
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt=""width="200" height="75" >
		</div>

		<div>
			<ul class="barraMenu">
				<li><a href="../index.html" title="Inicio">Inicio</a></li>
				<li><a href="#" title="Enlace genérico">&iquestQuienes somos?</a></li>
				<li><a href="../views/terminos.html" title="terminos">Información</a></li>
				<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>

				<li><a href="../views/eligeRegistro.html" title="Registro">Registro</a></li>
				<li><a href="../views/maquetaPreguntas.html" title="FAQ">FAQ</a></li>
			</ul>
		</div> 
	</header>

	<!--Cuerpo-->
	<div class="TablaEmpresas">
		<div id="DatosContacto">
			<label class="EtiquetaRegistro">Perfil Empresa</label>
			<br>
			<label class="llene">Gamesa</label>
			<hr class="SeparadorDatos">
		</div>
	 	<form>
	  		<table id="formularioEmpresa">
		    	<tr><td>Nombre de la Empresa</td><td><input type="text" maxlength="30" value = "Gamesa"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>E-mail</td><td><input type="email" maxlength="20" value="gamesa@gmail.com"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Apellidos de Contacto</td><td><input type="text" maxlength="30" value="Garcia"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Nombre del Contacto</td><td><input type="text" maxlength="20" value="Dioni"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Contraseña</td><td><input type="password" maxlength="30" value="Contraseña123"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>Telefono de contacto</td><td><input type="tel" maxlength="12" value="22 2222 22"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td>RFC</td><td><input type="text" maxlength="12" value="RFC"></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td></td></tr>
		    	<tr><td></td><td><input type="button" value="Guardar Cambios"> </td></tr>
	  		</table>
		</form>
	</div>

	<!-- plantilla footer-->
	<br><br><br>
	<footer>
		<div class="pieUno">
			<div class ="mapaYoutuber">
				<h5>YOUTUBERS</h5>
				<hr>
			</div>

			<div class ="mapaEmpresa">
				<h5>EMPRESAS</h5>
				<hr>
			</div>

			<div class ="mapaSitio">
				<h5>MAPA DE SITIO</h5>
				<hr>
				<ul class="listaSitio">

						<li><a href="../index.html">Inicio</a></li>
						<li><a href="">¿Quiénes somos?</a></li>
						<li><a href="">Información</a></li>
						<li><a href="../views/contacto.html" title="Contacto">Contacto</a></li>
						<li><a href="../views/eligeRegistro.html">Registro</a></li>
						<li><a href="../views/maquetaPreguntas.html">FAQ</a></li>
				</ul>
			</div>
		</div>
		<div class = "pieDos">
			<p>&copy 2017 PubliMex - Publicidad empresarial por bloggeros.		Tel.12233445</p>
		</div>
	</footer>
</body>
</html>